html{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

body {
  background-color: white;
  /* background-image: url('../images/wall3.jpg'); */
  /* background-repeat: round; */
  margin: 0px;
  line-height: 1.4;
  margin-bottom: 1px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}
img{
  max-width: 100%;
}
iframe{
  max-width: 100%;
}
.clr{
  clear: both;
}

.wrapper{
  display: grid;
  grid-gap: 12px;
}

/* Header */
header{
  position: sticky;
  top: 0;
  margin: 0;
  /* align-items: center; */
}
e{
  font-style: italic;
}

.top{
  text-align: right;
  font-size: 1.1rem;
  background-color: rgb(40, 40, 255);
}
.top>a{
  text-decoration: none;
  color: white!important;
  /* color: blue; */

}

/* Main Navigation */
.main-nav{
  /* display: grid; */
  /* grid-gap: 20px; */
  padding:5px 0;
  background-color: rgb(30, 30, 255);
  margin: 0;
  border: 1px solid white;
  /* grid-template-columns: 1fr 7fr 1fr; */
}

.main-nav ul{
  display: grid;
  grid-gap: 5px;
  padding: 0;
  align-items: center;
  text-align: center;
  margin: 0;
  list-style: none;
  grid-template-columns: 1fr 7fr 1fr;
  /* grid-template-columns: repeat(auto-fit minmax(5px, 1fr)); */
}

.links{
  display: grid;
  grid-gap: 17px;
  grid-template-columns: repeat(7, 1fr);
  font-size: 1.5em;
  /* color: var(--light); */
}
.links>li>a{
  text-decoration: none;
  text-align: center;
  color: white;
}
.links>li>a.active{
  color: #ccc;
}
.links>li>a:hover{
  color: #ccc;
}
.main-nav img{
  max-width: 50px;
  border-radius: 50%;
}

/* Main Body */
.mainBody{
  background: #eee;
  display: grid;
  grid-gap: 30px;
  margin: 0 50px;
  /* grid-template-areas:
  'topContainer'
  'topContainer'
  'us'
  'boxes' */
}
/* Top Container */
.topContainer{
  /* grid-area: topContainer; */
  display: grid;
  grid-gap: 17px;
  grid-template-areas:
  'announcements announcements announcements'
  'featuredArticles featuredArticles sermons'
  'music music music';
  color: white;
}
.announcements{
  grid-area: announcements;
  /* display: grid; */
  /* grid-gap: 17px; */
	min-height: 400px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
  background-image: url('../images/us.jpg');
	background-size: cover;
	background-position: center;
  display: none;
  /* background-repeat: no-repeat; */
  /* background: red; */
}
.announcements>img{
  min-width: 100%;
  max-height: 500px;
}
.featuredArticles{
  grid-area: featuredArticles;
  display: grid;
  grid-gap: 3px;
  /* margin-top: var(--topMargin); */
  background: #6bcae2;
  /* grid-template-columns: 1fr; */
}
.title{
  text-align: center;
  margin: 0px;
  padding: 0px
}
.title h2{
  /* font-size: 1.5em; */
  font-weight: bold;
  text-decoration: none;
}
.content{
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.content h2{
  font-size: 1em;
  text-decoration: underline;
  font-weight: bold;
  text-transform: capitalize;
}
#sermonFeatured a{
  text-decoration: none;
  color: gold;
}
.sermons{
  grid-area: sermons;
  margin-top: 100px;
  background: #51a5ba;
  /* margin-bottom: 3px; */
}
.sermons img{
  float:left;
  max-height: 50px;
}
.sermons h2{
  color: gold;
}
.sermons>.content>a{
  text-decoration: none;
  color: gold;
}
.sermons>.content>a:hover{
  color: rgb(255, 250, 100);
}
.sermons>.content{
  display: inherit;
}
/* .sermons e{
  font-style: italic;
} */
.music{
  grid-area: music;
  display: grid;
  grid-gap: 3px;
  margin-top: 100px;
  grid-template-columns:1fr;
  background: #41924b;
}
.music>.title>h2>a{

}
.music>.title>h2>a:hover{
  text-decoration: none;
  /* color: #11f; */
}
.content iframe{
  max-width: 100%;
}
.albums{
  grid-area: albums;
  display: none;
  margin-top: 100px;
  background-color: #afeaaa;
}
.embedded{
  max-width: 100%;
}



.us{
  /* grid-area: us; */
  margin: 3px!important;
  background: #87e293;
}
.us h2{
  /* font-size: 1.5em; */
  font-weight: bold;
  text-decoration:underline;
}
.us img , .articles img{
  max-height: 250px;
  margin: 7px;
  float:left;
}
.boxes{
  /* grid-area: boxes; */
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: #fe8402;
}
.boxes>.box{
  text-align: center;
  background: #fd9732;
}
.maps>iframe{
  max-width: 100%;
  min-height: 100%;
}
.box{
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  padding: 5px;
  margin: 0px;
}
.box h2{
  text-transform: capitalize;
}
/* .boxes>.box{
  text-align: center;
} */
.bton{
  display: inline-block;
  font-weight: 400;
  background-color: white;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a.bton:hover{
  background: #999;
  text-decoration: none;
}
footer{
  background: rgb(40, 40, 255);
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
}

.articles{
  padding: 3px;
  color: White;
  background-color: rgb(10, 100, 250);
}
.articles h2{
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}
.articles h3{
  /* font-size: 1.5em; */
  text-decoration: underline;
}
.articles p{
  text-align: justify;
}
.articles p>e{
  font-style: italic;
}
.topFeatured{
  margin: 3px;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: rgb(50, 150, 250);
}
.other{
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: rgb(100, 150, 250);
}

/* Media Queries */
@media (max-width: 768px) {
  .mainBody{
    padding: 0;
    margin: 0;
  }
  .topContainer{
    /* grid-area: topContainer; */
    display: grid;
    /* grid-gap: 20px; */
    grid-template-areas:
    'announcements'
    'featuredArticles'
    'music'
    'sermons'
    'albums';
  }
  /* Main Navigation */
  .links{
    /* display: grid; */
    /* grid-gap: 17px; */
    grid-template-columns: repeat(4, 1fr);
    /* font-size: 1.5em; */
  }
  /* .links>li>a{
    text-decoration: none;
    text-align: center;
    color: var(--light);
  }
  .links>li>a:hover{
    color: #ccc;
  } */
  /* .main-nav img{
    max-width: 50px;
  } */


}

@media (max-width: 550px) {
  .mainBody{
    padding: 0;
    margin: 0;
  }
  .topContainer{
    /* grid-area: topContainer; */
    display: grid;
    /* grid-gap: 20px; */
    grid-template-areas:
    'announcements'
    'featuredArticles'
    'music'
    'sermons'
    'albums';
  }
  header{
    position: inherit;
  }
  /* Main Navigation */
  .main-nav{
    border: none;
    border-top: 1px solid white;
  }
  .main-nav ul{
    display: grid;
    grid-gap: 5px;
    padding: 0;
    align-items: center;
    text-align: center;
    margin: 0;
    list-style: none;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(auto-fit minmax(5px, 1fr)); */
  }
  .links{
    /* display: grid; */
    /* grid-gap: 17px; */
    grid-template-columns: 1fr;
    font-size: 1.3em;
    /* color: var(--light); */
  }
  /* .links>li>a{
    text-decoration: none;
    text-align: center;
    color: var(--light);
  }
  .links>li>a:hover{
    color: #ccc;
  }
  .main-nav img{
    max-width: 50px;
  } */
  .us>img{
    float:none;
  }
  .bton{
    display: block;
  }
}
